.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 2px solid #f5fff5;
  width: 100%;
  padding: 20px;
  align-items: left;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-out;
  color: white;
  background-color: transparent;
  height: 120px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 1%), 0 0px 10px 0 rgba(0, 0, 0, 0.199);

  @media screen and (max-width: 880px) {
    height: 100px;
  }
}

.container:hover {
  background: #f5fff5;
  color: #e03131;

  .statusAvailable {
    background-color: #e03131;
    color: #f5fff5;
  }

  .date {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.9rem;
  }

  @media screen and (max-width: 880px) {
    .title {
      font-size: 1.6rem;
    }

    .date {
      font-size: 1rem;
    }
  }
}

.date {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 700;
  transition: all 0.4s ease-out;
}

.title {
  margin: 10px 0 0 0;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.4s ease-out;
}

@media screen and (max-width: 880px) {
  .date {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.1rem;
  }
}

.status {
  margin: 10px 0 0 0;
}

.statusAvailable {
  margin: 10px 0 0 0;
  color: #e03131;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  background-color: #f5fff5;
  padding: 2px 10px;
  border-radius: 20px;
  width: fit-content;
  position: absolute;
  bottom: 10px;
  right: 10px;
  // Trying
  font-family: Rosario;
  font-style: italic;
  font-weight: 900;

  @media screen and (max-width: 600px) {
    font-size: 0.5rem;
  }
}

// Modal

.modal {
  color: #f5fff5;
}

.modalHeader {
  background: #e03131;

  .modalTitle {
    font-weight: 400;
    // Trying
    font-family: Rosario;
    font-weight: 900;
  }
}

.modalBody {
  background: #e03131;

  //   h2 {
  //     font-weight: 700;
  //     font-size: 2.5rem;
  //   }

  p {
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 1.8;
  }
}

.modalFooter {
  background: #e03131;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;

  label {
    margin-left: 4px;
    margin-bottom: 0px;
    font-weight: 600;
    text-shadow: 0 8px 16px 0 rgb(0 0 0 / 1%), 0 0px 10px 0 rgba(0, 0, 0, 0.253);
  }

  input {
    margin-bottom: 17px;
  }
}

.textInput {
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #f5fff5;
}

.bookBtn {
  padding: 0.5rem 2.2rem;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  background: #f5fff5;
  color: #e03131;
  transition: 0.4s all ease-out;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 1%), 0 0px 10px 0 rgba(0, 0, 0, 0.123);
  // Trying
  font-family: Rosario;
  font-style: italic;
  font-weight: 900;
  margin: 4px !important;
}

.bookBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(24, 24, 24, 0.01),
    0 0px 10px 0 rgba(44, 44, 44, 0.507);
  background: #268002;
  color: #f5fff5;
}

.closeBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  background: #9e0e0e;
  color: #f5fff5;
  transition: 0.4s all ease-out;
}

.closeBtn:hover {
  box-shadow: 0 8px 16px 0 rgba(24, 24, 24, 0.01),
    0 0px 10px 0 rgba(44, 44, 44, 0.507);
  background: #f5fff5;
  color: #e03131;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;

  .optionsLabel {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: .8px;
  }

  .optionBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px;
    padding: 0 1.2rem;

    @media screen and (max-width: 880px) {
        padding: 0 1.4rem;
        gap: 13px;
    }
  }

  .optionBtn {
    padding: 0.5rem 2.2rem;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    background: #f5fff5;
    color: #e03131;
    transition: 0.4s all ease-out;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 1%), 0 0px 10px 0 rgba(0, 0, 0, 0.123);
    // Trying
    font-family: Rosario;
    font-style: italic;
    font-weight: 900;
    margin: 4px !important;
  }

  .optionBtn:hover {
    box-shadow: 0 8px 16px 0 rgba(24, 24, 24, 0.01),
      0 0px 10px 0 rgba(44, 44, 44, 0.507);
    background: #be2424 !important;
    color: #f5fff5 !important;
  }

//   .optionBtn:focus {
//     color: #f5fff5;
//     background: #be2424;
//   }
}

.toast {
  z-index: 10000;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  color: black;

  @media screen and (max-width: 880px) {
  }

  .toastBody {
    background: #f5fff5;
  }
}
