.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    border: 2px solid #f5fff5;
    width: 100%;
    padding: 20px;
    align-items: left;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-out;
    color: white;
    background-color: transparent;
}

.container:hover {
    background: #f5fff5;
    color: #e03131;

    .statusAvailable {
        background-color: #e03131;
        color: #f5fff5;
    }
}

.date {
    font-size: 1.8rem;
    margin: 0;
    font-weight: 700;
}

.title {
    margin: 10px 0 0 0;
    font-weight: 700;
    font-size: 1.4rem
}

@media screen and (max-width: 880px) {
    .date {
        font-size: 1.4rem;
    }

    .title {
        font-size: 1rem;
    }
  }

.status {
    margin: 10px 0 0 0;
}

.statusAvailable {
    margin: 10px 0 0 0;
    color: #e03131;
    font-size: .7rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .7px;
    background-color: #f5fff5;
    padding: 2px 10px;
    border-radius: 20px;
    width: fit-content;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


// Modal


.form {
    display: flex;
    flex-direction: column;

    label {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    input {
        margin-bottom: 15px;
    }
  }

  .textInput {
    padding: 5px 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 1%), 0 0px 10px 0 rgb(0 0 0 / 5%);
}